<div class="layui-form">
    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" id="dataTableFilter">
    <select lay-verify="">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <button type="submit" class="layui-btn" lay-submit lay-filter="submit1">提交</button>
    <button type="reset" class="layui-btn">重置</button>
</div>
<script>
           
</script>
