<html>
<head>
    <meta charset="utf-8">
    @*<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">*@
    <title>layout 后台大布局 - Layui</title>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">所有商品</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div id="viewContainer1">
                @Html.Action("getcontent");
            </div>
            <div id="viewContainer">

            </div>
            <div id="tabContainer">
                <table id="dataTable"></table>
            </div>
            <div class="">
                <input type="button" class="layui-btn" lay-filter="load" value="装载" onclick="loadContent()" />
                <button type="button" class="layui-btn" lay-filter="loadTab" onclick="loadTable()">装载Table</button>
            </div>
            <div style="padding: 15px;">内容主体区域</div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script>
        //JavaScript代码区域
        layui.use(["form", "element", "jquery", "table"], function () {
            var form = layui.form, element = layui.element, $ = layui.$;
            form.on('submit(submit1)', function (d) {
                console.log("submit1  submit");
                return false;
            });
            window.loadContent = function () {
                console.log("GetContent");
                //$("#viewContainer").load("GetContent");
                $("#viewContainer").load("GetContent", function () {
                    form.render();
                });
                //$.ajax({
                //    url: "getcontent",
                //    type: "get",
                //    success: function (d) {
                //        $("#viewContainer").html(d);
                //        form.render();
                //    }
                //});
            };
            window.getFilter = function () {
                return $("#dataTableFilter").val();
            }
            window.loadTable = function () {
                var table = layui.table;
                table.render({
                    elem: "#dataTable",//渲染的对象ID
                    cols: [[//表头配置
                        { checkbox: true, title: "全选",width:120 },//是否开始checkbox
                        { space: true },//width:15px的空列
                        { field: 'id', title: 'ID',width:120,edit:true },
                        { field: "code", title: "车牌号", width: 140, templet: '#idTpl' },
                        { field: "gps", title: "gps识别号", width: 140 },
                        {toolbar:"#toolTpl",width:100}
                    ]],
                    url: "GetData",
                    where: { filter: "123", id: getFilter()},
                    request: { pageName: "iPage", limitName: "iPageSize" },
                    //response: {},
                    page: true,//是否开启分页
                    limits: [10, 20, 30, 40],//可选择的叶大小
                    limit: 60,//默认的页大小
                    loading:false,//数据加载的时候是否显示加载动画
                });
            };
            form.on('click(load)', function (d) {
                console.log($(elem).val());
                $("#viewContainer").load("GetContent");
            });
            element.on("click(load)", function (elem) {
                console.log($(elem).val());
                $("#viewContainer").load("GetContent");
            });
        });
    </script>
    <script type="text/html" id="idTpl">
        {{# if(d.id>3){}}
            <a href="#">{{d.code}}</a>
        {{# }}}
    </script>
    <script type="text/html" id="toolTpl">
        {{# if(d.id<3){}}
        <a href="#">删除</a>
        {{# }}}
    </script>
</body>
</html>
